<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $title := site.Title }}
{{- if not .IsHome }}{{ $title = printf "%s | %s" .Title site.Title }}{{ end }}
<title>{{ $title }}</title>
{{- $desc := site.Params.description }}
{{- with .Description }}{{ $desc = . }}{{ else }}{{ if and .IsPage .Summary }}{{ $desc = .Summary | plainify | truncate 180 }}{{ end }}{{ end }}
<meta name="description" content="{{ $desc }}">
<meta name="author" content="{{ site.Title }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="theme-color" content="#fdf6ee">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
{{- $css := resources.Get "css/main.css" }}
{{- $isBlog := eq .Section "blog" }}
{{- if $isBlog }}
  {{- $css = slice $css (resources.Get "css/tufte.css") (resources.Get "css/syntax.css") | resources.Concat "css/blog.css" }}
{{- end }}
{{- $css = $css | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- with site.GetPage "/blog" }}
  {{- with .OutputFormats.Get "rss" }}
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }} blog" href="{{ .RelPermalink }}">
  {{- end }}
{{- end }}
{{- if or .IsHome $isBlog .Params.math }}
  {{- partial "mathjax.html" . }}
{{- end }}
